<div class="bottom">
  <div class="content">
      <div class="bullet bullet-0 clearfix">
      <div class="bullet-image">
          <img data-js-component-id="component6564584256435828173" src="Dropbox_files/paragraph1_clipart.png" alt="Wherever you are" data-hi-res="https://cf.dropboxstatic.com/static/images/index/1@2x-vfla5ZOaX.png" style="width: 280px; height: 186px;"></div>
      <div class="bullet-content">
          <p class="subline">TODO tacky header</p>
          <p class="description">TODO tacky text</p></div></div>
      <div class="bullet bullet-1 clearfix">
          <div class="bullet-image">
              <img data-js-component-id="component8118322569081588821" src="Dropbox_files/paragraph2_clipart.png" alt="Share with confidence" data-hi-res="https://cf.dropboxstatic.com/static/images/index/2@2x-vflGPO2qc.png" style="width: 267px; height: 240.5px;"></div>
          <div class="bullet-content">
              <p class="subline">TODO tacky header</p>
              <p class="description">TODO tacky text</p></div></div>
      <div class="bullet bullet-2 clearfix">
          <div class="bullet-image">
              <img data-js-component-id="component757018635688461846" src="Dropbox_files/paragraph3_clipart.png" alt="Safe and secure" data-hi-res="https://cf.dropboxstatic.com/static/images/index/3@2x-vfl5-nqQv.png" style="width: 217px; height: 198px;"></div>
          <div class="bullet-content">
              <p class="subline">Safe and secure (TODO keep this?)</p>
              <p class="description">TODO sickeningly sweet reassurance that we won't be assholes</p></div></div>
      <div class="bullet bullet-3 clearfix">
          <div class="bullet-image">
              <img data-js-component-id="component9062950526801439478" src="Dropbox_files/paragraph4_clipart.png" alt="Dropbox for Business" data-hi-res="https://cf.dropboxstatic.com/static/images/index/4@2x-vflcmf-Xp.png" style="width: 317.5px; height: 188px;"></div>
          <div class="bullet-content">
              <p class="subline">TODO tacky header</p>
              <p class="description">TODO tacky text <a href="https://www.dropbox.com/business">Learn about Dropbox for Business</a>.</p></div></div>
      <br style="clear:both;">
  </div>
</div>