<div class="alert alert-success" role="alert" ng-if="accepted">
    Fluster added to Dropbox ! <span class="glyphicon glyphicon-thumbs-up"></span>
</div>
<div class="alert alert-danger" role="alert" ng-if="!accepted">
     You denied the access to Dropbox... <span class="glyphicon glyphicon-thumbs-down"></span>
</div>
<div class="jumbotron">
  <h1>Fluster</h1>
  <p class="lead">
      <img ng-src="{{mainImage}}" alt="Clean your Dropbox" /><br>
      <span>{{description}}</span>
  </p>
  <p>
      <button class="btn btn-lg btn-success" ng-click="clusterDropbox();">
        Clean Dropbox ! <span class="glyphicon glyphicon-ok"></span>
    </button>
</p>
</div>
<h3>{{resultTitle}}</h3>
<p>
  <ul>
    <li ng-repeat="(idx, file) in files">
      {{file}}
    </li>
  </ul>
</p>
