<div class="alert alert-success" role="alert" ng-if="accepted">
    Fluster added to Dropbox ! <span class="glyphicon glyphicon-thumbs-up"></span>
</div>
<div class="alert alert-danger" role="alert" ng-if="!accepted">
     You denied the access to Dropbox... <span class="glyphicon glyphicon-thumbs-down"></span>
</div>
<div class="jumbotron">
<!--   <h1>Fluster</h1>
  <p class="lead">
      <img ng-src="{{mainImage}}" alt="Clean your Dropbox" /><br>
      <span>{{description}}</span>
  </p>
  <p>
      <button class="btn btn-lg btn-success" ng-click="clusterDropbox();">
        Clean Dropbox ! <span class="glyphicon glyphicon-ok"></span>
    </button>
  </p> -->

  <h3>{{resultTitle}}</h3>
  <!-- instead of listing the files, we can show them on the d3 file tree
    - eventually, we need to engineer an elegant solution to comparing files before and after flustering-->
<!--   <p>
    <ul>
      <li ng-repeat="(idx, file) in files">
        {{file}}
      </li>
    </ul>
  </p> -->

  <div class="d3Comparison" ng-if="accepted">
    <div class="col-md-*">
      <p>This is where the d3 will go</p>
      
      <div id="infovis">
        <script>

        var x = d3.scale.linear()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height, 0]);

        var color = d3.scale.category10();

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");
        //changed from d3 select("body") to infovis
        var svg = d3.select("infovis").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.tsv("data.tsv", function(error, data) {
          data.forEach(function(d) {
            d.sepalLength = +d.sepalLength;
            d.sepalWidth = +d.sepalWidth;
          });

          x.domain(d3.extent(data, function(d) { return d.sepalWidth; })).nice();
          y.domain(d3.extent(data, function(d) { return d.sepalLength; })).nice();

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis)
            .append("text")
              .attr("class", "label")
              .attr("x", width)
              .attr("y", -6)
              .style("text-anchor", "end")
              .text("Sepal Width (cm)");

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("class", "label")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Sepal Length (cm)")

          svg.selectAll(".dot")
              .data(data)
            .enter().append("circle")
              .attr("class", "dot")
              .attr("r", 3.5)
              .attr("cx", function(d) { return x(d.sepalWidth); })
              .attr("cy", function(d) { return y(d.sepalLength); })
              .style("fill", function(d) { return color(d.species); });

          var legend = svg.selectAll(".legend")
              .data(color.domain())
            .enter().append("g")
              .attr("class", "legend")
              .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

          legend.append("rect")
              .attr("x", width - 18)
              .attr("width", 18)
              .attr("height", 18)
              .style("fill", color);

          legend.append("text")
              .attr("x", width - 24)
              .attr("y", 9)
              .attr("dy", ".35em")
              .style("text-anchor", "end")
              .text(function(d) { return d; });

              });
        </script>

      </div>
    </div>
  </div>

</div>


