<div class="col-md-*">

<!--   <div class="col-md-6">
    <p class="lead">
      <img src="images/dropbox.png" alt="Clean your Dropbox" />
    </p>
  
  </div>

  <div class="col-md-6">
    <h1>Fluster</h1>
    <p class="lead">
      <img src="images/dropbox.png" alt="Clean your Dropbox" /><br>
      Clean your Dropbox mess
    </p>
    <p>
    <button class="btn btn-lg btn-success" ng-click="authorizeDropbox();">Add to Dropbox <span class="glyphicon glyphicon-ok"></span></button>
    </p>
  </div> -->


  <img class="center-block" src="images/dropbox.png">

  <h1 style="line-height:54px; font-family:Open Sans; font-size:30px;color:#33536d;text-align:center;font-weight:normal;">Organize your Dropbox in one click.</h1>


  <button class="btn btn-lg btn-primary center-block" 
    ng-click="authorizeDropbox();">Add to Dropbox
  </button>

</div>

<!-- style="width:225px;margin:0; height:45px; font-weight:normal; border:1px solid #0c6ebe; color:white; background:#007ee5; border-radius:3px; text-decoration:none; font-weight:normal; font-family:Open Sans; font-size:14px;color:white;text-align:center;font-weight:normal; line-height:300%" -->

